body{
    background-color: rgba(202, 196, 196, 0.692);
    color: #13111144;
    width: 80%;
    margin: auto;
    padding: 15px;
}

.informacoespessoais{
    font-size: 12px;
}

h1{
    background-color: rgb(201, 166, 233);
    border-bottom: 2px solid blue;
    color: rgb(0, 0, 0);
    font-size: 36px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 15px;
}

.dadospessoais{
    margin: 25px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.subtitles{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(201, 166, 233);
    border-bottom: 2px solid blue;
    margin: 20px;
    padding: 15px;
    color: blue;
}


.telefonesuteis{
    

}

.linksuteis{
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold;
    }

}

.dadospessoais{

}

.objetivoprofissional{

}

.resumoprofissional{

}

.formacaoacademica{

}

.cursosextras{

}

.competencias{

}

.certificacoes{

}

.atividadesprofissionais{

}

.empresas{

}

.informacoesextras{

}

.informacoesfooter{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}