body{
    background-color: rgba(207, 195, 195, 0.692);
}

h1{
    font-size: 36px;
    text-align: center;
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(201, 166, 233);
    margin: 20px;
    padding: 15px;
}

.subtitles{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(201, 166, 233);
    margin: 20px;
    padding: 15px;
    color: blue;
}

.dadospessoais{
    margin: 25px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.telefonesuteis{

}

.informacoesfooter{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}