body{
    background-color: #bb81a5;
}

h1{
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(12, 6, 6, 0.842);
    font-variant: small-caps;
}

h2{
    font-size: 1.2 rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

h3{
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration:  underline;
    letter-spacing: 5px;
    font-weight: bold;
}

p{
    font-size: 14px;
    color: #0f080ef3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    /*
    text-indent: 60px;
    */
    text-align: justify;
    padding: 20px;
}

a{
    text-decoration: none;
    font-variant: normal;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: gray;
}